ul.hr
{
    background-color: rgb(24, 118, 172);
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
}

ul.hr > li {
    display: inline;
    margin-left: 10px;
    list-style-type: none;
}

ul.hr > li > a
{
    font-family:Arial;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



div.auth, div.auth-head
{
    justify-content: center;
    align-content: center;
    position: relative;
    display: flex;
}

div.auth-head
{
	font-family: arial;
	margin: 5px;
	font-size: 18px;
}

input.signs
{
	border: none;
    border-left: solid;
    border-left-width: 5px;
    border-color: rgb(24, 118, 172);
    height: 20px;
    font-size: 16px;
    background: #f3f3f3;
    padding: 5px;
}

input.signs:focus 
{
    border-color: #09fba6;
    outline: none;
}

input.signs:selection
{
	border:none;
	font-size: 25px;
} 

input.submit-btn
{
	margin: 10px;
    background: rgb(24, 118, 172);
    color: white;
    font-size: 16px;
    border: thin;
    padding: 10px;
    border-radius: 5px;
    cursor: alias;
}

strong.auth-status
{
	margin-top: 50px;
	border: none;
    border-left: solid;
    border-left-width: 5px;
    border-color: #7d7d7d;
    height: 20px;
    font-size: 16px;
    font-family: 'Arial';
    background: #f3f3f3;
    padding: 5px;
}

label.auth-example
{
	font-style: italic;
	font-size: 14px;
	color: #888585;
}

label.auth-head
{

	font-size: 20px;
}

