<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/content/styles.css' %}"/> 
</head>
<body>
    <div>
        <ul class="hr">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'articles' %}">Articles</a>
            </li>
            <li>
                <a id="authMenu" href="{% url 'auth' %}">Auth</a>
            </li>
        </ul>
    </div>
    <div class="art">
        {% block content %}
            <p class="home">
                {{text}}{{date}}
           </p>
        {% endblock %}
    </div>
    <p id="counter"></p>

</body>
</html>